.logo {
    @include respond(phone) {
        width: 70%;
    }
}

.burger {
    display: none;
    position: absolute;
    top: 15px;
    right: 15px;

    @include respond(phone) {
        display: block;
    }

    &__bar1,
    &__bar2,
    &__bar3 {

        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: .3s all;
    }

    &__bar1.show {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    &__bar2.show {
        opacity: 0;
    }

    &__bar3.show {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }

}

.banner {
    position: relative;
    height: calc(85vh - 2rem);
    // background-image: url('../img/Slider/Sentis_Cayo_drzwi_wewnetrze_aranzacja.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    @include respond(tab-port) {
        background-position: right center;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .2);
    }
}

.btn {

    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        display: flex;
        align-items: center;
    }

    &--collection {
        position: absolute;
        bottom: 0;
        left: 5rem;
        background-color: $color-bg-secondary;

        @include respond(phone) {
            // bottom: 0;
            left: 0;
        }

    }

    // &--download {
    //     // justify-content: center;
    // }

    &__text {
        color: $color-secondary;
        padding: 1.5rem;
        text-transform: uppercase;
        font-size: 1.3rem;
        // line-height: 2rem;
        width: 100%;
        border: 3px solid $color-bg-secondary;
        transition: .3s all;

        &:hover {
            background-color: $color-bg-primary;
            color: $color-bg-secondary;
        }

        &--download {
            background-color: $color-bg-gray;
            text-align: center;
            border: 2px solid $color-bg-gray;

            &:hover {
                background-color: $color-bg-primary;
                color: $color-bg-gray;
            }
        }
    }

    &__icon {
        padding: 1.5rem;
        background-color: #fff;
        align-self: center;

        // @include respond(phone) {
        //     display: none;
        // }
    }

    &--send {
        padding: 1rem 2rem;
        margin-top: 1rem;
        color: $color-secondary;
        background-color: $color-bg-secondary;
        border: none;
        cursor: pointer;
    }
}



.slider-box {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    padding: 1rem;
    background-color: $color-bg-primary;
    opacity: .8;

    // &__overlay {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     background: rgba(0, 0, 0, .7);
    // }

    &__list {
        position: relative;
        list-style: none;
        font-size: 1rem;
        margin-left: 3rem;
    }

    &__item {
        cursor: pointer;

        &:hover {
            color: $color-hover;
            transform: scale(1.2);
        }

        &:not(:last-child) {
            margin-bottom: 1.5rem;
        }

        &.active {
            color: $color-hover;
            cursor: default;
            transform: none;

            &::before {
                content: '';
                display: block;
                position: relative;
                top: 7px;
                left: -3.2rem;
                height: 2px;
                width: 2.5rem;
                background-color: $color-dark;
            }
        }

    }

    &__text {
        text-align: center;
        padding: 3rem;
    }
}

.door {

    // &__element {
    //     position: absolute;
    // }

    &__img {
        padding: 2rem 0;
        // @include img-resp;

        // width: 90%;
        // height: auto;
    }
}

.model {
    padding: 2rem 0;
    display: flex;
    flex-wrap: wrap;

    @include respond(tab-port) {
        justify-content: center
    }

    &__figure {
        margin-bottom: 3rem;
    }

    &__figcaption {
        margin-top: .5rem;
        text-align: center;
        font-size: 1.2rem;
    }

    &__img {
        display: block;
        margin: 0 auto;
        width: 70%;
        height: auto;
    }


    &--ramon,
    &--sensa {
        display: none;
    }

    &--ramon.active,
    &--sensa.active {
        display: flex
    }
}

.detail {
    padding: 2rem 0;

    &__param {
        margin-bottom: 5rem;

        @include respond(phone) {
            display: none;
        }
    }

    &__dekors {
        display: flex;
        flex-wrap: wrap;

        @include respond(phone) {
            justify-content: center;
        }

    }

    &__glass {
        display: flex;
        // align-items: center;
        justify-content: space-between;

        // flex-wrap: wrap;
        // .detail__img--lak {
        //     align-self: flex-end;
        // }
        @include respond(phone) {
            flex-direction: column;
        }
    }

    &__img {
        align-self: flex-end;


        @include respond(phone) {
            margin-top: 2rem;
            align-self: flex-start;
        }

        &--type {
            cursor: pointer;
        }

    }

    &__figure {
        margin-right: 1rem;
        margin-bottom: 1rem;

        @include respond(tab-port) {
            flex-basis: 20%;
            margin-right: 3rem;
        }

    }

    &__figcaption {
        font-size: 1.2rem;
        // margin-bottom: 3rem;
    }
}

.sentis-about {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    background-color: $color-bg-secondary;
    padding: 3rem;

    &__head {
        display: flex;
        align-items: center;
        margin-bottom: 4rem;
        padding-left: 8rem;
    }

    &__catalog {
        // text-align: right;
        // width: 100%;
    }
}

.google-maps {
    height: 380px;
    width: 100%;
}

.form {
    &__label {
        display: block;
        // background-color: #f5f5f5;
        margin-top: 3rem;
        font-size: 1.6rem;
    }

    &__input,
    &__textarea {
        width: 100%;
        background-color: #f5f5f5;
        padding: 10px;
        margin-top: 2rem;
        // font-size: 1rem;
        border: none;

        &::placeholder {
            font-size: 1.4rem;
            opacity: 1;
        }

        &:focus {
            outline: none;
            border: 2px solid $color-bg-secondary,
                // box-shadow: 0 0 10px #719ECE;
        }
    }
}

.hr {
    margin: 2rem 0;
    border: 0;
    height: 1px;
    background: $color-bg-gray;
}