.header {
    padding: 2rem 0;
}

.navbar-main {
    display: flex;

    @include respond(phone) {
        flex-direction: column;
    }


    &__list {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style: none;
        font-size: 1.6rem;

        @include respond(phone) {
            display: none;
            margin: 1.5rem 0;
        }
    }

    &__list.show {
        display: block;
    }

    &__item {

        @include respond(tab-port) {
            flex-basis: 20%;
        }

    }

    &__link {
        display: block;
        color: $color-primary;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-align: center;

        &:hover {
            color: $color-hover;
        }

        @include respond(phone) {
            font-size: 2rem;
            padding: 1.5rem;
        }
    }
}

.navbar-section {
    margin: 3rem auto;
    width: 60%;

    @include respond(phone) {
        width: 100%;
    }

    &__list {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        list-style: none;
        font-size: 1.5rem;

        @include respond(phone) {
            margin: 0 auto;
            width: 80%;
        }
    }

    &__item {
        color: $color-primary;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        text-align: center;
        cursor: pointer;

        @include respond(phone) {
            font-size: 1.8rem;
            margin: 1.5rem;
        }

        &:hover {
            color: $color-hover;
        }

        &.active {
            color: $color-hover;
            cursor: default;
            transform: none;

            &::before {
                content: '';
                display: block;
                position: relative;
                top: -4px;
                left: 0;
                height: 2px;
                width: 96%;
                background-color: $color-dark;
            }
        }

    }
}

.internal-door {
    padding: 2rem 0;

    // &__desc {
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    // }

    &__img {
        padding: 2rem 0;
        @include img-resp;

        // width: 90%;
        // height: auto;
    }
}

.about {
    padding: 2rem 0;
}

.contact {
    padding: 2rem 0;

    &__heading {
        display: flex;
        align-items: center;
    }
}

.footer {
    padding: 2rem 0;

    &__text {
        font-size: 1.5rem;
    }
}