$color-primary: #696971;
$color-secondary: #fff;
$color-heading:#000;
$color-hover:#000;
$color-dark:#000;


$color-bg-primary:#fff;
$color-bg-secondary:#e09590;
// $color-bg-secondary:#D1161D;
$color-bg-gray:#2a2426;
$color-bg-form:#f5f5f5;
$color-bg-dark:#000;